.root{
  vertical-align: center;
}

.header{
  background-color: #E68422;
}

.header1{
  height: 80px;
  color: #76420D;
  font-size: 25px;
  vertical-align: center;
}

.header2{
  color: #F4CDA6;
  font-size: 15px;
  vertical-align: center;
  text-align: right;
}

.subheader{
  background-color: #595959;
  color: #D8D8D8;
}

.subheader1{
  height: 30px;
}

.subheader2{
  text-align: right;
}
