body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input, textarea{
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
}

button, input[type="submit"]{
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
  background-color: aliceblue;
}